1. Explain the dataset
2. Check the summary statistics and discuss the max, min, avg, median,
and percentiles.
3. The manager wants to find out whether the same amount was spent
for the three advertisements (TV , Radio and Newspaper). Comment
on your findings

In [5]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [6]:
data=pd.read_excel(r"C:\Users\HP\OneDrive\Desktop\Advertising.xlsx")

In [6]:
data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [7]:
data.info

<bound method DataFrame.info of      Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]>

In [11]:
data.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [ ]:
# Find out whether the same amount was spent for the three advertisements (TV , Radio and Newspaper)

Null Hypothesis: Amount spent on TV,Radio & Newspaper are same
Alternate Hyothesis: Amount spent on TV,Radio & Newspaper are different.

In [8]:
import scipy.stats as stats

F, p = stats.f_oneway(data['TV'], data['Radio'], data['Newspaper'])

In [9]:
print(F,p)

358.8514595342597 4.552931539744962e-103

Critical Value for F

Significance Level:0.05
Degrees of Freedom (Numerator):2
  
Degrees of Freedom (Denominator):400
  
Critical value = 3.018.

In [ ]:
The test statistic is 358.8514595342597 (which is quite large), and the p-value is 4.552931539744962. 
Since,Calculated F value is higher than Critical table value and the p-value is small we have enough 
evidence in the data to reject Null Hypothesis. So, it is concluded that Amount spent on TV,Radio & Newspaper are different.